.is-borderless {
  border: none;
}

a > .icon,
.button_to {
  svg {
    width: 1rem;
    height: 1rem;
  }
}

.info-level-component {
  .tag + .tag {
    margin-left: 0.5rem;
  }
}

.is-square {
  width: 2.25rem;
  height: 2.25rem;
}

.is-margin-auto {
  margin: auto;
}

.sticky {
  position: sticky;
  top: 0;
}

@media (max-width: 768px) {
  .sticky {
    position: fixed !important;
    background: rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    top: 20%;
    left: 0;
    z-index: 1;
  }
}
