.is-borderless {
  border: none;
}

a>.icon,
.button_to {
  $svg-size: 1rem;

  svg {
    width: $svg-size;
    height: $svg-size;
  }
}

.info-level-component {
  .tag+.tag {
    margin-left: 0.5rem;
  }
}

.card-fit .column {
  .card {
    >* {
      overflow: hidden;
    }
    .card-content .content {
      > div {
        height: 48px;
      }
      height: 100px;
    } 
  }
}
