@import 'bulma';

.is-borderless {
  border: none;
}

a>.icon,
.button_to {
  $svg-size: 1rem;

  svg {
    width: $svg-size;
    height: $svg-size;
  }
}

.info-level-component {
  .tag+.tag {
    margin-left: 0.5rem;
  }
}


.is-square {
  $btn-square-size: 2.25rem;

  width: $btn-square-size;
  height: $btn-square-size;
}

.is-margin-auto {
  margin: auto;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@include mobile {
  .sticky {
    position: fixed !important;
    background: rgba(255,255,255,0.3);
    padding: 0.5rem;
    top: 20%;
    left: 0;
    z-index: 1;
  }
}