.blog {
  padding-top: 5.75rem;
}

.blog-posts {
  --leading-post-width: 44.125rem;
  --leading-post-image-height: 20.4375rem;
  --post-card-width: 22.0625rem;
  --post-card-image-height: 11.625rem;

  .leading-post-card {
    max-width: var(--leading-post-width);

    .image img {
      height: var(--leading-post-image-height);
      width: var(--leading-post-width);
    }
  }

  .post-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .post-card {
    width: var(--post-card-width);

    .image img {
      height: var(--post-card-image-height);
      width: var(--post-card-width);
    }
  }

  @media (max-width: 768px) {
    .post-card {
      width: 100%;

      .image img {
        width: 100%;
        height: var(--leading-post-image-height);
      }
    }
  }

  .leading-post-card,
  .post-card {

    .card-title,
    .card-title a {
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
    }

    .card-footer {
      display: none;
    }
  }
}

.blog-post {

  .post-metadata {
    .author {
      font-weight: bold;
    }

    .public-from {
      color: #b5b5b5;
      font-size: 0.75rem;
    }
  }

  .social-media-buttons {
    margin-top: 0.75rem;

    a {
      background-color: #b5b5b5;
      color: #fff;
    }

    .share-button {
      margin-top: 0.5rem;
    }

    @media (max-width: 768px) {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 1.25rem;

      .share-button {
        margin-top: 0;
      }
    }
  }

  .post-content {
    .post-title {
      font-size: 2rem;
      font-weight: bold;
    }

    img {
      max-width: 44.125rem;
      max-height: 23.25rem;
    }

    @media (min-width: 1024px) {
      padding-right: 15rem;
    }
  }
}
