<!DOCTYPE html>
<html>
  <%= render 'layouts/blogging/head' %>

  <body>
    <div class="container px-4 py-6" data-controller='modal'>
      <%= yield %>

      <%= render Bali::Modal::Component.new(active: false) %>
    </div>
  </body>
</html>
