name: Rails CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [main]
    types: [ opened, reopened, synchronize, ready_for_review ]
  workflow_call:
    secrets:
      CC_TEST_REPORTER_ID:
        description: 'Code Climate Reporter ID for current repo'
        required: false

env:
  RAILS_ENV: test

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    services:
      postgres:
        image: postgres:13
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
    env:
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"

    steps:
      - uses: actions/checkout@v4

      - name: Install libvips
        run: sudo apt-get update && sudo apt-get install --no-install-recommends libvips

      - name: ImageMagick Action
        uses: mfinelli/setup-imagemagick@v7

      - name: Install ruby gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          cache-version: v1

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: spec/dummy/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('spec/dummy/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install yarn dependencies
        run: yarn install --frozen-lockfile
        working-directory: spec/dummy

      - name: Set up database schema
        run: bin/rails db:schema:load

      - name: Build Tailwind CSS
        run: bin/rails tailwindcss:build
        working-directory: spec/dummy

      - name: Run Rspec
        run: bundle exec rspec spec/

      - name: Publish code coverage
        uses: qltysh/qlty-action/coverage@v1
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/.resultset.json
